<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 10px">id</th>
        <th>Nome</th>
        <th>Status</th>
        <th style="width: 40px">Publicação</th>
        <th style="width: 40px">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @positions.each do |position| %>
      <tr>
        <td><%= position.id %></td>
        <td><%= position.name %></td>
        <td><span class="badge badge-success">Ativo</span></td>
        <td><%= position.created_at&.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to "Visualizar", position, class: "btn btn-sm btn-info", data: { turbo_frame: "_top" } %>
          <% if current_user == position.company.user %>
          <%= link_to "Editar", edit_position_path(position), class: "btn btn-sm btn-primary", data: { turbo_frame: "_top" } %>
          <%= button_to "Excluir", position, method: :delete, class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
