<%= simple_form_for(@position) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :career %>
    <%= f.input :contract %>
    <%= f.input :remote %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :summary %>
    <%= f.input :description %>
    <%= f.input :publish %>
    <%= f.association :company %>

    <div class="form-group">
      <%= f.label :existing_tag_ids, "Select Existing Tags" %>
      <%= f.select :existing_tag_ids, Tag.all.map { |tag| [tag.name, tag.id] }, {}, { multiple: true, class: "form-control select2" } %>
    </div>

    <%= f.simple_fields_for :tags do |tag| %>
      <div class="nested-fields">
        <%= tag.input :name, label: "Tag" %>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
