<div id="<%= dom_id position %>">
  <p>
    <strong>Name:</strong>
    <%= position.name %>
  </p>

  <p>
    <strong>Career:</strong>
    <%= position.career %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= position.contract %>
  </p>

  <p>
    <strong>Remote:</strong>
    <%= position.remote %>
  </p>

  <p>
    <strong>City:</strong>
    <%= position.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= position.state %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= position.summary %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= position.description %>
  </p>

  <p>
    <strong>Publish:</strong>
    <%= position.publish %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= position.company_id %>
  </p>

</div>
