<div class="card-body">
    <% if user_signed_in? && current_user == position.company.user %>
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="callout callout-info">
                    <%= link_to applicants_path(position), class: "link-primary" do %>
                    Total inscritos <span class="float-right badge bg-primary"><%= position.applicants.count %></span>
                    <% end %>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="callout callout-info">
                    <%= link_to applicants_path(position), class: "link-primary" do %>
                    Total inscritos <span class="float-right badge bg-primary"><%= position.applicants.count %></span>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Tipo de contratação</span>
                            <span class="info-box-number text-center text-muted mb-0"><%= position.contract.upcase %></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Area de atuação</span>
                            <span class="info-box-number text-center text-muted mb-0">
                                <%= I18n.t("enums.position.career.#{position.career}") %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <% if position.remote %>
                                <span class="info-box-text text-center text-muted">Local de trabalho</span>
                                <span class="info-box-number text-center text-muted mb-0">Remoto</span>
                            <% else %>
                                <span class="info-box-text text-center text-muted">Local de trabalho</span>
                                <span class="info-box-number text-center text-muted mb-0"><%= position.state %></span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Descrição da vaga</h4>
                    <div class="post">
                        <p>
                            <%= position.description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
            <div class="row mb-4">
                <div class="user-block">
                        <% if position.company.logo.attached? %>
                            <%= image_tag position.company.logo, class: "img-circle img-bordered-sm", style: "max-width: 100px; object-fit: cover;", alt: "Company profile picture" %>
                        <% else %>
                            <%= image_tag "default-company-logo.png", class: "img-circle img-bordered-sm", style: "max-width: 100px; object-fit: cover;", alt: "Company profile picture" %>
                        <% end %>
                        <span class="username">
                        <%= link_to position.company.name, company_path(position.company) %>
                        </span>
                        <span class="description">Data da publicação: <%= position.created_at.strftime("%d/%m/%Y") %></span>
                </div>
            </div>

            <p class="text-muted">
                <%= position.company.summary %>
            </p>
            <br>
            <div class="text-muted">
                <p class="text-sm">Quantidade de colaboradores
                    <b class="d-block">Atualmente possui <%= position.company.employee_count %> colaboradores</b>
                </p>
                <p class="text-sm">Data da Fundação
                    <b class="d-block"><%= position.company.founded_date.strftime("%d/%m/%Y") %></b>
                </p>
            </div>
            <h5 class="mt-5 text-muted">Contato</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="mailto:<%= position.company.contact_email %>" class="btn-link text-secondary">
                        <i class="fa-solid fa-envelope mr-2"></i>Email: <%= position.company.contact_email %>
                    </a>
                </li>
                <li>
                    <P class="text-secondary">
                        <i class="fa-solid fa-phone mr-2"></i>Telefone: <%= position.company.contact_phone %>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
