<p style="color: green"><%= notice %></p>

<%= search_form_for @search, url: positions_path, method: :get, class: "position-relative" , data: { turbo_frame: "_top" } do |form| %>
  <div class="row col-auto g-2">
    <div class="form-group">
      <%= form.label :tags_id_in, "Pesquise sua vaga por Tags" %>
      <%= form.select :tags_id_in, Tag.all.map { |tag| [tag.name, tag.id] }, { include_blank: false },
      { multiple: true, class: "form-control select2", data: { controller: "select2" }, onchange: "this.form.submit()" } %>
    </div>
  </div>
<% end %>

<h1>Positions</h1>

<div id="positions" class="row">
  <% @positions.each do |position| %>
      <%= render position %>
  <% end %>
</div>

<%= link_to "New position", new_position_path %>
