<p style="color: green"><%= notice %></p>

<h1>Positions</h1>

<%= search_form_for @search, url: positions_path, method: :get, class: "position-relative", data: { turbo_frame: "positions" } do |form| %>
  <div class="row col-auto g-2">
    <div class="col-auto">
        <div class="search-box">
            <%= form.search_field :tags_name_cont, class: "form-control search-input", placeholder: "Procurar" %>
            <span class="fas fa-search search-box-icon"></span>
        </div>
    </div>
<% end %>

<div id="positions" class="row">
  <% @positions.each do |position| %>
    <%= render position %>
  <% end %>
</div>

<%= link_to "New position", new_position_path %>
