<p style="color: green"><%= notice %></p>

<%= render "shared/content_header", page_title: "Lista de vagas" %>

<div class="d-flex justify-content-center content-header">
  <%= search_form_for @search, url: positions_path, method: :get, class: "position-relative col-md-6", data: { turbo_frame: "positions_frame" } do |form| %>
    <div class="form-group d-flex flex-column justify-content-center align-items-center">
      <%= form.label :tags_id_in, "Pesquise sua vaga por Tags" %>
      <%= form.select :tags_id_in, Tag.all.pluck(:name,:id), { include_blank: false }, { multiple: true, class: "form-control select2", data: { controller: "select2" }, onchange: "this.form.requestSubmit()" } %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "positions_frame" do %>
  <div class="d-flex flex-wrap">
    <% @positions.each do |position| %>
      <%= render "position_card", position: position %>
    <% end %>
  </div>
<% end %>

<%= link_to "New position", new_position_path %>

<%== pagy_bootstrap_nav(@pagy) %>
