
<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :url %>

  <% if @company.logo.attached? %>
    <div>
      <%= image_tag @company.logo %>
    </div>
  <% end %>

    <div class="form-group">
      <%= render "image_form", f: f %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
