<%= render "shared/content_header", page_title: "Editar Empresa" do %>
  <li class="breadcrumb-item"><%= link_to "Vagas", positions_path %></li>
  <li class="breadcrumb-item active">Editar <%= @company.name %></li>
<% end %>


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title pt-1">Empresa: <%=@company.name %></h3>
    </div>
    <%= render "companies/components/form", company: @company %>
</div>
