<div class="content-wrapper">
  <%= render "shared/content_header", page_title: "Sua empresa" do %>
    <li class="breadcrumb-item"><%= link_to "Vagas", positions_path %></li>
    <li class="breadcrumb-item active">Sua empresa</li>
  <% end %>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <% if @company.logo.attached? %>
                    <%= image_tag @company.logo, class: "profile-user-img img-fluid img-circle", style: "max-width: 100px; min-height: 100px; object-fit: cover;", alt: "Company profile picture" %>
                <% else %>
                    <%= image_tag "default-company-logo.png", class: "profile-user-img img-fluid img-circle", style: "max-width: 100px; min-height: 100px; object-fit: cover;", alt: "Company profile picture" %>
                <% end %>
              </div>
              <h3 class="profile-username text-center"><%= @company.name %></h3>
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Funcionários</b> <a class="float-right"><%= @company.employee_count %></a>
                </li>
                <li class="list-group-item">
                  <b>Fundação</b> <a class="float-right"><%= @company.founded_date&.strftime("%m/%Y") %></a>
                </li>
                <li class="list-group-item">
                  <b>Criador</b> <a class="float-right"><%= @company.user.email %></a>
                </li>
              </ul>
              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
          </div>
        </div>

        <div class="col-md-9">
        <!-- Add tabs to the company show page -->
          <div class="card" data-controller="tabs">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#about" data-action="click->tabs#showTab" data-tabs-target="tab">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#timeline" data-action="click->tabs#showTab" data-tabs-target="tab">Vagas</a>
                </li>
                <% if current_user == @company.user %>
                  <li class="nav-item">
                    <a class="nav-link" href="#settings" data-action="click->tabs#showTab" data-tabs-target="tab">Editar</a>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="card-body">
              <div class="tab-content" style="min-height: 400px">
                <div class="tab-pane active" id="about" data-tabs-target="content">
                  <div class="post">
                    <h3>Resumo</h3>
                    <p><%= @company.summary %></p>
                  </div>
                </div>
                <div class="tab-pane" id="timeline" data-tabs-target="content">
                  <%= turbo_frame_tag "company_positions", src: company_positions_path(company_id: @company), loading: :lazy do %>
                    Carregando...
                  <% end %>
                </div>
                <% if current_user == @company.user %>
                  <div class="tab-pane" id="settings" data-tabs-target="content">
                    <%= render "companies/components/form", company: @company %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <!-- /.tabs -->
        </div>
      </div>
    </div>
  </section>
</div>
