<!DOCTYPE html>
<html>
  <head>
    <title>BahiaJobs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="hold-transition layout-top-nav">
    <div class="wrapper">
          <%= render "base/header" %>

          <div class="content-wrapper">
            <div class="content container-fluid">
              <div class="container-fluid">
                <div class="container pt-2">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
          <%= render "base/footer" %>
        <div>
    </body>
</html>
